@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#SFUFutura") format("svg");
  font-weight: 500;
}
.login-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.box-login{
  position: absolute;
  top: 50%;
  max-width: 450px;
  left: 0px;
  right: 0px;
  padding: 20px;
  z-index: 10;
  margin: auto;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 8px;
  border: 1px solid #E9F0F8;
  overflow: hidden;
  text-align: center;
}


/* title */
.title {
  font-size: 20px;
  color: #0D2D5E;
  margin-bottom: 5px;
  font-family: RobotoCondensed;
  text-transform: uppercase;
}
.subtitle {
  font-size: 24px;
  color: #CE7A58;
  font-family: RobotoCondensed;
  text-transform: uppercase;
}

/* form  */
.login-form{
  font-family: inherit;
}


.form-control-input, .form-control{
  border: 0px;
  border-bottom: 1px solid rgba(130, 133, 138, 0.3);
  border-radius: 0px;
  box-shadow: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.form-control-input.form-control-input:focus {
  border-color: #5e0d0d;
  box-shadow: none;
}

.form-control-input.form-control-input:placeholder {
  font-weight: normal;
  color: #000;
}

.login-button{
  width: 100%;
  height: 120%;
  border-radius: 4px;
  padding: 10px 10px;
}
.login-form-button
{
  background: #CE7A58;
  color: #fff;
  font-weight: bold;
}
.login-form-button:hover, login-form-button:focus, .login-form-button:active{
  background: #bc5d37;
  color: #fff;
}
.login-form-button-second {
  background: #fff;
  color: #CE7A58;
  border-color: #CE7A58;
  font-weight: bold;
}
.login-form-button-second:hover, .login-form-button-second:focus, .login-form-button-second:active {
  background: #bc5d37;
  color: #fff;
}